@use "header";
@use "hero";
@use "trailer";
@use "synopsis";
@use "insider";
@use "info";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

/* attribution */
.attribution {
  font-size: 12px;
  padding: 60px 0;
  text-align: center;

  a {
    text-decoration: none;
    color: #fa6b18;
  }
}

/* btn back to top */
.btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s;

  i {
    margin-top: 8px;
  }

  &.show {
    display: block;
    opacity: 0.7;
  }
}
